@page "/"
@using BlazorComponent.Test.Components.Button

<div className="btn-margin-right">
    <ButtonHome>

    </ButtonHome>
</div>

<style>
    div {
        background-color: lightgray;
        height: 100%;
    }

    body {
        height: 100%;
    }

    main {
        height: 100%;
    }
</style>