@page "/"

<div className="btn-margin-right">
    <BlazorComponent.Test.Components.Button.Index/>
</div>

<BlazorComponent.Test.Components.Divider.Index/>

<style>
    div {
        background-color: lightgray;
        height: 100%;
    }

    body {
        height: 100%;
    }

    main {
        height: 100%;
    }
</style>