@page "/"

<div className="btn-margin-right">
    <SButton Style="margin-right: 8px">主要按钮</SButton>
    <SButton Style="margin-right: 8px" Secondary>次要按钮</SButton>
    <SButton Style="margin-right: 8px" Tertiary>第三按钮</SButton>
    <SButton Style="margin-right: 8px" Warning>警告按钮</SButton>
    <SButton Style="margin-right: 8px" Danger>危险按钮</SButton>
</div>

<style>
    div {
        background-color: lightgray;
        height: 100%;
    }

    body {
        height: 100%;
    }

    main {
        height: 100%;
    }
</style>