@inherits LayoutComponentBase

<Title />

<Menu MenuTree="@Navigation?.Menu" />

<div class="content-area " id="main-content">
    <div class="article-wrapper content">
        @Body
    </div>
</div>
