@namespace BlazorComponent

@inherits SDomComponentBase

<div class="@CssProvider.GetClass()" style="@CssProvider.GetStyle()">
    @if (ChildContent != null )
    {
        <span class="@(PrefixCls + "_inner-text")" x-semi-prop="children">
            @ChildContent
        </span>
    }
</div>