<h2>基本用法</h2>
<div>
    <h3>水平实线</h3>
    <span>Semi Design 是一个设计系统。</span>
    <SDivider Margin='12px' />
    <span>它定义了一套中后台设计与前端基础组件。</span>

    <h3 style="margin-top:40px">水平虚线</h3>
    <span>Semi Design 是一个设计系统。</span>
    <SDivider Dashed="true" Margin='12px' />
    <span>它定义了一套中后台设计与前端基础组件。</span>

    <h3 style="margin-top:40px">垂直实线</h3>

    <div>
        <span>左</span>
        <SDivider Layout="vertical" Margin='12px' />
        <span>中</span>
        <SDivider Layout="vertical" Margin='12px' />
        <span>右</span>
    </div>

    <h3 style="margin-top:40px">垂直虚线</h3>

    <div>
        <span>左</span>
        <SDivider Layout="vertical" Dashed="true" Margin='12px' />
        <span>中</span>
        <SDivider Layout="vertical" Dashed="true" Margin='12px' />
        <span>右</span>
    </div>

    <SDivider Margin='12px' Align='left'>
        这是居左文字
    </SDivider>

    <SDivider Margin='12px' Align='center'>
        这是居中文字
    </SDivider>

    <SDivider Margin='12px' Align='right'>
        这是居右文字
    </SDivider>

</div>