@namespace BlazorComponent

@inherits SDomComponentBase

<SButton>
    @if(IconPosition == "left")
    {
        @Icon
        if (@ChildContent != null)
        {
            <span class="@BtnTextCls.GetClass()" x-semi-prop="@XSemiProp">
                @ChildContent
            </span>
        }
    }
    else
    {
        if (@ChildContent != null)
        {
            <span class="@BtnTextCls.GetClass()" x-semi-prop="@XSemiProp">
                @ChildContent
            </span>
        }
        @Icon
    }
</SButton>