@namespace BlazorComponent

@inherits SDomComponentBase

<button class="@CssProvider?.GetClass()" style="@CssProvider?.GetStyle()" onclick="@OnClick" onmousedown="@OnMouseDown">
    <span class="semi-content">
        @ChildContent
    </span>
</button>    