@namespace Semi.Design.Shared

<h3>Home</h3>

<SMonacoEditor Component="Button/Index.txt">
    <SButtonGroup>
        <SButton>测试</SButton>
        <SButton>测试</SButton>
        <SButton>测试</SButton>
    </SButtonGroup>
</SMonacoEditor>