<div style="display: flex">

    <div style="margin-right: 10px" key="primary">
        <SButtonGroup>
            <SButton>拷贝</SButton>
            <SButton>查询</SButton>
            <SButton>剪切</SButton>
        </SButtonGroup>
    </div>

    <div style="margin-right: 10px" key="Secondary">
        <SButtonGroup Secondary>
            <SButton >拷贝</SButton>
            <SButton >查询</SButton>
            <SButton >剪切</SButton>
        </SButtonGroup>
    </div>
</div>
<div style="display: flex;margin-top: 10px">
    <div style="margin-right: 10px" key="Tertiary">
        <SButtonGroup Tertiary>
            <SButton >拷贝</SButton>
            <SButton >查询</SButton>
            <SButton >剪切</SButton>
        </SButtonGroup>
    </div>
    <div style="margin-right: 10px" key="warning">
        <SButtonGroup Warning>
            <SButton >拷贝</SButton>
            <SButton >查询</SButton>
            <SButton >剪切</SButton>
        </SButtonGroup>
    </div>
    <div style="margin-right: 10px" key="Danger">
        <SButtonGroup Danger>
            <SButton >拷贝</SButton>
            <SButton >查询</SButton>
            <SButton >剪切</SButton>
        </SButtonGroup>
    </div>
</div>