<div class="header-tinyTitle">输入类 · Button</div>
<div class="header-title"> 按钮</div>
<div class="article-brief">用户使用按钮来触发一个操作或者进行跳转。</div>

<h3 class="md markdown gatsby-h3" id="按钮类型">
    按钮类型
    <span role="button" aria-label="link" class="semi-icon semi-icon-default semi-icon-link anchor-link-button-icon" tabindex="0">
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" focusable="false" aria-hidden="true">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.9393 2.9393C15.182 0.69666 18.818 0.696668 21.0606 2.93931C23.3033 5.18195 23.3033 8.81799 21.0606 11.0606L18.3925 13.7288C18.4631 13.3298 18.5 12.9192 18.5 12.5C18.5 11.5751 18.3206 10.6921 17.9947 9.88386L18.9393 8.93931C20.0104 7.86824 20.0104 6.13169 18.9393 5.06063C17.8682 3.98956 16.1317 3.98956 15.0606 5.06062L11.0606 9.06063C9.98956 10.1317 9.98956 11.8682 11.0606 12.9393C11.3265 13.2052 11.6335 13.4051 11.961 13.539L9.75848 15.7415C9.47 15.5439 9.19556 15.3169 8.9393 15.0606C6.69666 12.818 6.69666 9.18195 8.9393 6.93931L12.9393 2.9393ZM2.9393 12.9393L5.60751 10.2711C5.53685 10.6701 5.49999 11.0808 5.49999 11.5001C5.49999 12.4249 5.67935 13.3079 6.00519 14.1161L5.06062 15.0607C3.98956 16.1317 3.98956 17.8683 5.06063 18.9393C6.13169 20.0104 7.86824 20.0104 8.9393 18.9393L12.9393 14.9393C14.0104 13.8683 14.0104 12.1317 12.9393 11.0607C12.7664 10.8878 12.5762 10.7428 12.3743 10.6258L14.5302 8.46985C14.7141 8.61357 14.8914 8.77007 15.0606 8.93934C17.3033 11.182 17.3033 14.818 15.0606 17.0607L11.0606 21.0607C8.81798 23.3033 5.18194 23.3033 2.9393 21.0607C0.696665 18.818 0.696663 15.182 2.9393 12.9393Z" fill="currentColor"></path>
        </svg>
    </span>
</h3>

<div class="md markdown gatsby-p">按钮支持以下类型：</div>


<MonacoEditor Component="Button/ButtonType">
</MonacoEditor>

<h4 class="md markdown gatsby-h4" id="关于类型字体色值">关于类型字体色值</h4>
<div class="md markdown gatsby-p">按钮的字体色值使用的都是 <a href="https://developer.mozilla.org/zh-CN/docs/Web/CSS/Using_CSS_custom_properties" class="md gatsby-a">CSS Variables</a>，分别为：</div>
<ul class="md markdown gatsby-ul"><li class="gatsby-li"><code>var(--semi-color-primary)</code>：主要</li><li class="gatsby-li"><code>var(--semi-color-secondary)</code>：次要</li><li class="gatsby-li"><code>var(--semi-color-tertiary)</code>：第三</li><li class="gatsby-li"><code>var(--semi-color-warning)</code>：警告</li><li class="gatsby-li"><code>var(--semi-color-danger)</code>：危险</li></ul>
<div class="md markdown gatsby-p">你可以直接使用这些主题色定义你的元素。</div>

<MonacoEditor Component="Button/ButtonFontFamily">
</MonacoEditor>

<h3 class="md markdown gatsby-h3" id="按钮主题">
    按钮主题<span role="button" aria-label="link" class="semi-icon semi-icon-default semi-icon-link anchor-link-button-icon" tabindex="0">
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" focusable="false" aria-hidden="true">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.9393 2.9393C15.182 0.69666 18.818 0.696668 21.0606 2.93931C23.3033 5.18195 23.3033 8.81799 21.0606 11.0606L18.3925 13.7288C18.4631 13.3298 18.5 12.9192 18.5 12.5C18.5 11.5751 18.3206 10.6921 17.9947 9.88386L18.9393 8.93931C20.0104 7.86824 20.0104 6.13169 18.9393 5.06063C17.8682 3.98956 16.1317 3.98956 15.0606 5.06062L11.0606 9.06063C9.98956 10.1317 9.98956 11.8682 11.0606 12.9393C11.3265 13.2052 11.6335 13.4051 11.961 13.539L9.75848 15.7415C9.47 15.5439 9.19556 15.3169 8.9393 15.0606C6.69666 12.818 6.69666 9.18195 8.9393 6.93931L12.9393 2.9393ZM2.9393 12.9393L5.60751 10.2711C5.53685 10.6701 5.49999 11.0808 5.49999 11.5001C5.49999 12.4249 5.67935 13.3079 6.00519 14.1161L5.06062 15.0607C3.98956 16.1317 3.98956 17.8683 5.06063 18.9393C6.13169 20.0104 7.86824 20.0104 8.9393 18.9393L12.9393 14.9393C14.0104 13.8683 14.0104 12.1317 12.9393 11.0607C12.7664 10.8878 12.5762 10.7428 12.3743 10.6258L14.5302 8.46985C14.7141 8.61357 14.8914 8.77007 15.0606 8.93934C17.3033 11.182 17.3033 14.818 15.0606 17.0607L11.0606 21.0607C8.81798 23.3033 5.18194 23.3033 2.9393 21.0607C0.696665 18.818 0.696663 15.182 2.9393 12.9393Z" fill="currentColor"></path>
        </svg>
    </span>
</h3>

<div class="md markdown gatsby-p">目前可用的主题（theme）为：</div>
<ul class="md markdown gatsby-ul">
    <li class="gatsby-li"><code>light</code>：浅色背景</li>
    <li class="gatsby-li"><code>solid</code>：深色背景</li>
    <li class="gatsby-li">
        <code>
            borderless
        </code>：无背景
    </li>
</ul>
<div class="md markdown gatsby-p">默认的主题为 <code>light</code></div>
<h4 class="md markdown gatsby-h4" id="浅色背景">浅色背景</h4>


<MonacoEditor Component="Button/ButtonLightBackground">
</MonacoEditor>

<h4 class="md markdown gatsby-h4" id="深色背景">深色背景</h4>


<MonacoEditor Component="Button/ButtonDeepBackground">
</MonacoEditor>


<h4 class="md markdown gatsby-h4" id="无背景">无背景</h4>


<MonacoEditor Component="Button/ButtonNoBackground">
</MonacoEditor>


<h3 class="md markdown gatsby-h3" id="尺寸">
    尺寸<span role="button" aria-label="link" class="semi-icon semi-icon-default semi-icon-link anchor-link-button-icon" tabindex="0">
        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" focusable="false" aria-hidden="true"><path fill-rule="evenodd" clip-rule="evenodd" d="M12.9393 2.9393C15.182 0.69666 18.818 0.696668 21.0606 2.93931C23.3033 5.18195 23.3033 8.81799 21.0606 11.0606L18.3925 13.7288C18.4631 13.3298 18.5 12.9192 18.5 12.5C18.5 11.5751 18.3206 10.6921 17.9947 9.88386L18.9393 8.93931C20.0104 7.86824 20.0104 6.13169 18.9393 5.06063C17.8682 3.98956 16.1317 3.98956 15.0606 5.06062L11.0606 9.06063C9.98956 10.1317 9.98956 11.8682 11.0606 12.9393C11.3265 13.2052 11.6335 13.4051 11.961 13.539L9.75848 15.7415C9.47 15.5439 9.19556 15.3169 8.9393 15.0606C6.69666 12.818 6.69666 9.18195 8.9393 6.93931L12.9393 2.9393ZM2.9393 12.9393L5.60751 10.2711C5.53685 10.6701 5.49999 11.0808 5.49999 11.5001C5.49999 12.4249 5.67935 13.3079 6.00519 14.1161L5.06062 15.0607C3.98956 16.1317 3.98956 17.8683 5.06063 18.9393C6.13169 20.0104 7.86824 20.0104 8.9393 18.9393L12.9393 14.9393C14.0104 13.8683 14.0104 12.1317 12.9393 11.0607C12.7664 10.8878 12.5762 10.7428 12.3743 10.6258L14.5302 8.46985C14.7141 8.61357 14.8914 8.77007 15.0606 8.93934C17.3033 11.182 17.3033 14.818 15.0606 17.0607L11.0606 21.0607C8.81798 23.3033 5.18194 23.3033 2.9393 21.0607C0.696665 18.818 0.696663 15.182 2.9393 12.9393Z" fill="currentColor"></path></svg>
    </span>
</h3>
<div class="md markdown gatsby-p">默认定义了三种尺寸：</div>
<ul class="md markdown gatsby-ul"><li class="gatsby-li">大："large"</li><li class="gatsby-li">默认："default"</li><li class="gatsby-li">小："small"</li></ul>


<MonacoEditor Component="Button/ButtonSize">
</MonacoEditor>

<h3 class="md markdown gatsby-h3" id="块级按钮">块级按钮<span role="button" aria-label="link" class="semi-icon semi-icon-default semi-icon-link anchor-link-button-icon" tabindex="0"><svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" focusable="false" aria-hidden="true"><path fill-rule="evenodd" clip-rule="evenodd" d="M12.9393 2.9393C15.182 0.69666 18.818 0.696668 21.0606 2.93931C23.3033 5.18195 23.3033 8.81799 21.0606 11.0606L18.3925 13.7288C18.4631 13.3298 18.5 12.9192 18.5 12.5C18.5 11.5751 18.3206 10.6921 17.9947 9.88386L18.9393 8.93931C20.0104 7.86824 20.0104 6.13169 18.9393 5.06063C17.8682 3.98956 16.1317 3.98956 15.0606 5.06062L11.0606 9.06063C9.98956 10.1317 9.98956 11.8682 11.0606 12.9393C11.3265 13.2052 11.6335 13.4051 11.961 13.539L9.75848 15.7415C9.47 15.5439 9.19556 15.3169 8.9393 15.0606C6.69666 12.818 6.69666 9.18195 8.9393 6.93931L12.9393 2.9393ZM2.9393 12.9393L5.60751 10.2711C5.53685 10.6701 5.49999 11.0808 5.49999 11.5001C5.49999 12.4249 5.67935 13.3079 6.00519 14.1161L5.06062 15.0607C3.98956 16.1317 3.98956 17.8683 5.06063 18.9393C6.13169 20.0104 7.86824 20.0104 8.9393 18.9393L12.9393 14.9393C14.0104 13.8683 14.0104 12.1317 12.9393 11.0607C12.7664 10.8878 12.5762 10.7428 12.3743 10.6258L14.5302 8.46985C14.7141 8.61357 14.8914 8.77007 15.0606 8.93934C17.3033 11.182 17.3033 14.818 15.0606 17.0607L11.0606 21.0607C8.81798 23.3033 5.18194 23.3033 2.9393 21.0607C0.696665 18.818 0.696663 15.182 2.9393 12.9393Z" fill="currentColor"></path></svg></span></h3>

<div class="md markdown gatsby-p">块级按钮具有预先定义好的宽度，它的宽度与按钮里面内容的宽度无关。</div>

<MonacoEditor Component="Button/ButtonBlockLevel">
</MonacoEditor>

<h3 class="md markdown gatsby-h3" id="图标按钮">图标按钮<span role="button" aria-label="link" class="semi-icon semi-icon-default semi-icon-link anchor-link-button-icon" tabindex="0"><svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" focusable="false" aria-hidden="true"><path fill-rule="evenodd" clip-rule="evenodd" d="M12.9393 2.9393C15.182 0.69666 18.818 0.696668 21.0606 2.93931C23.3033 5.18195 23.3033 8.81799 21.0606 11.0606L18.3925 13.7288C18.4631 13.3298 18.5 12.9192 18.5 12.5C18.5 11.5751 18.3206 10.6921 17.9947 9.88386L18.9393 8.93931C20.0104 7.86824 20.0104 6.13169 18.9393 5.06063C17.8682 3.98956 16.1317 3.98956 15.0606 5.06062L11.0606 9.06063C9.98956 10.1317 9.98956 11.8682 11.0606 12.9393C11.3265 13.2052 11.6335 13.4051 11.961 13.539L9.75848 15.7415C9.47 15.5439 9.19556 15.3169 8.9393 15.0606C6.69666 12.818 6.69666 9.18195 8.9393 6.93931L12.9393 2.9393ZM2.9393 12.9393L5.60751 10.2711C5.53685 10.6701 5.49999 11.0808 5.49999 11.5001C5.49999 12.4249 5.67935 13.3079 6.00519 14.1161L5.06062 15.0607C3.98956 16.1317 3.98956 17.8683 5.06063 18.9393C6.13169 20.0104 7.86824 20.0104 8.9393 18.9393L12.9393 14.9393C14.0104 13.8683 14.0104 12.1317 12.9393 11.0607C12.7664 10.8878 12.5762 10.7428 12.3743 10.6258L14.5302 8.46985C14.7141 8.61357 14.8914 8.77007 15.0606 8.93934C17.3033 11.182 17.3033 14.818 15.0606 17.0607L11.0606 21.0607C8.81798 23.3033 5.18194 23.3033 2.9393 21.0607C0.696665 18.818 0.696663 15.182 2.9393 12.9393Z" fill="currentColor"></path></svg></span></h3>

<div class="md markdown gatsby-p">可定义按钮的图标。</div>

<MonacoEditor Component="Button/ButtonIcon">
</MonacoEditor>

<h3 class="md markdown gatsby-h3" id="禁用状态">禁用状态<span role="button" aria-label="link" class="semi-icon semi-icon-default semi-icon-link anchor-link-button-icon" tabindex="0"><svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" focusable="false" aria-hidden="true"><path fill-rule="evenodd" clip-rule="evenodd" d="M12.9393 2.9393C15.182 0.69666 18.818 0.696668 21.0606 2.93931C23.3033 5.18195 23.3033 8.81799 21.0606 11.0606L18.3925 13.7288C18.4631 13.3298 18.5 12.9192 18.5 12.5C18.5 11.5751 18.3206 10.6921 17.9947 9.88386L18.9393 8.93931C20.0104 7.86824 20.0104 6.13169 18.9393 5.06063C17.8682 3.98956 16.1317 3.98956 15.0606 5.06062L11.0606 9.06063C9.98956 10.1317 9.98956 11.8682 11.0606 12.9393C11.3265 13.2052 11.6335 13.4051 11.961 13.539L9.75848 15.7415C9.47 15.5439 9.19556 15.3169 8.9393 15.0606C6.69666 12.818 6.69666 9.18195 8.9393 6.93931L12.9393 2.9393ZM2.9393 12.9393L5.60751 10.2711C5.53685 10.6701 5.49999 11.0808 5.49999 11.5001C5.49999 12.4249 5.67935 13.3079 6.00519 14.1161L5.06062 15.0607C3.98956 16.1317 3.98956 17.8683 5.06063 18.9393C6.13169 20.0104 7.86824 20.0104 8.9393 18.9393L12.9393 14.9393C14.0104 13.8683 14.0104 12.1317 12.9393 11.0607C12.7664 10.8878 12.5762 10.7428 12.3743 10.6258L14.5302 8.46985C14.7141 8.61357 14.8914 8.77007 15.0606 8.93934C17.3033 11.182 17.3033 14.818 15.0606 17.0607L11.0606 21.0607C8.81798 23.3033 5.18194 23.3033 2.9393 21.0607C0.696665 18.818 0.696663 15.182 2.9393 12.9393Z" fill="currentColor"></path></svg></span></h3>


<MonacoEditor Component="Button/ButtonControlStateDisabled">
</MonacoEditor>

<h3 class="md markdown gatsby-h3" id="组合尺寸">组合尺寸<span role="button" aria-label="link" class="semi-icon semi-icon-default semi-icon-link anchor-link-button-icon" tabindex="0"><svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" focusable="false" aria-hidden="true"><path fill-rule="evenodd" clip-rule="evenodd" d="M12.9393 2.9393C15.182 0.69666 18.818 0.696668 21.0606 2.93931C23.3033 5.18195 23.3033 8.81799 21.0606 11.0606L18.3925 13.7288C18.4631 13.3298 18.5 12.9192 18.5 12.5C18.5 11.5751 18.3206 10.6921 17.9947 9.88386L18.9393 8.93931C20.0104 7.86824 20.0104 6.13169 18.9393 5.06063C17.8682 3.98956 16.1317 3.98956 15.0606 5.06062L11.0606 9.06063C9.98956 10.1317 9.98956 11.8682 11.0606 12.9393C11.3265 13.2052 11.6335 13.4051 11.961 13.539L9.75848 15.7415C9.47 15.5439 9.19556 15.3169 8.9393 15.0606C6.69666 12.818 6.69666 9.18195 8.9393 6.93931L12.9393 2.9393ZM2.9393 12.9393L5.60751 10.2711C5.53685 10.6701 5.49999 11.0808 5.49999 11.5001C5.49999 12.4249 5.67935 13.3079 6.00519 14.1161L5.06062 15.0607C3.98956 16.1317 3.98956 17.8683 5.06063 18.9393C6.13169 20.0104 7.86824 20.0104 8.9393 18.9393L12.9393 14.9393C14.0104 13.8683 14.0104 12.1317 12.9393 11.0607C12.7664 10.8878 12.5762 10.7428 12.3743 10.6258L14.5302 8.46985C14.7141 8.61357 14.8914 8.77007 15.0606 8.93934C17.3033 11.182 17.3033 14.818 15.0606 17.0607L11.0606 21.0607C8.81798 23.3033 5.18194 23.3033 2.9393 21.0607C0.696665 18.818 0.696663 15.182 2.9393 12.9393Z" fill="currentColor"></path></svg></span></h3>


<MonacoEditor Component="Button/ButtonGroups">
</MonacoEditor>


<h3 class="md markdown gatsby-h3" id="组合类型">组合类型<span role="button" aria-label="link" class="semi-icon semi-icon-default semi-icon-link anchor-link-button-icon" tabindex="0"><svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" focusable="false" aria-hidden="true"><path fill-rule="evenodd" clip-rule="evenodd" d="M12.9393 2.9393C15.182 0.69666 18.818 0.696668 21.0606 2.93931C23.3033 5.18195 23.3033 8.81799 21.0606 11.0606L18.3925 13.7288C18.4631 13.3298 18.5 12.9192 18.5 12.5C18.5 11.5751 18.3206 10.6921 17.9947 9.88386L18.9393 8.93931C20.0104 7.86824 20.0104 6.13169 18.9393 5.06063C17.8682 3.98956 16.1317 3.98956 15.0606 5.06062L11.0606 9.06063C9.98956 10.1317 9.98956 11.8682 11.0606 12.9393C11.3265 13.2052 11.6335 13.4051 11.961 13.539L9.75848 15.7415C9.47 15.5439 9.19556 15.3169 8.9393 15.0606C6.69666 12.818 6.69666 9.18195 8.9393 6.93931L12.9393 2.9393ZM2.9393 12.9393L5.60751 10.2711C5.53685 10.6701 5.49999 11.0808 5.49999 11.5001C5.49999 12.4249 5.67935 13.3079 6.00519 14.1161L5.06062 15.0607C3.98956 16.1317 3.98956 17.8683 5.06063 18.9393C6.13169 20.0104 7.86824 20.0104 8.9393 18.9393L12.9393 14.9393C14.0104 13.8683 14.0104 12.1317 12.9393 11.0607C12.7664 10.8878 12.5762 10.7428 12.3743 10.6258L14.5302 8.46985C14.7141 8.61357 14.8914 8.77007 15.0606 8.93934C17.3033 11.182 17.3033 14.818 15.0606 17.0607L11.0606 21.0607C8.81798 23.3033 5.18194 23.3033 2.9393 21.0607C0.696665 18.818 0.696663 15.182 2.9393 12.9393Z" fill="currentColor"></path></svg></span></h3>


<MonacoEditor Component="Button/ButtonGroupType">
</MonacoEditor>