<SButtonGroup Threme="danger">

    <SButton>
        测试
    </SButton>
    <span class="semi-button-group-line semi-button-group-line-light semi-button-group-line-primary"></span>
    <SButton>
        测试
    </SButton>
    <span class="semi-button-group-line semi-button-group-line-light semi-button-group-line-primary"></span>
    <SButton>
        测试
    </SButton>
    <span class="semi-button-group-line semi-button-group-line-light semi-button-group-line-primary"></span>
    <SButton>
        测试
    </SButton>
</SButtonGroup>