@namespace Semi.Design.Shared

@inherits SDomComponentBase
<div class="child" style="width: @Width;">
    @ChildContent
</div>

<div class="@ComponentProvider.GetClass()" style="@ComponentProvider.GetStyle();" id="@Id" @ref="Ref" @attributes="@Attributes">
</div>


<style>
    .child{
        padding-bottom: 8px;
    }
</style>